{% extends "base.html.twig" %}
{% block body %}
    <h1>Framework Demo</h1>
    <p class="fs-5 col-md-8">Welcome! This content is displayed using the Demo Controller and a Twig
        Template using the Bootstrap 5 framework.</p>
    <p class="fs-5 col-md-8">Here are the details:</p>
    <dl class="row">
        <dt class="col-sm-3">Controller</dt>
        <dd class="col-sm-9">Application\Controller\DemoController</dd>

        <dt class="col-sm-3">Method</dt>
        <dd class="col-sm-9">hello()</dd>

        <dt class="col-sm-3">File</dt>
        <dd class="col-sm-9">src/Application/Controller/DemoController.php</dd>

        <dt class="col-sm-3">Demo Template</dt>
        <dd class="col-sm-9">templates/demo/main.html.twig</dd>

        <dt class="col-sm-3">Base Bootstrap 5 Template</dt>
        <dd class="col-sm-9">templates/base.html.twig</dd>
    </dl>
    <h2>Examples</h2>
    <ul>
        <li>
            <a href="/demo/json/a/b/c">JSON response</a>
        </li>

        <li>
            <a href="/demo/error">Error Page</a>
        </li>

        <li>
            <a href="/demo/not-found">404 Page</a>
        </li>

        <li>
            <a href="/demo/nested/show/json/example">
                Complex path using DemoController::nested()
            </a>
        </li>
    </ul>

    <h2>Additional Resources</h2>

    <ul>
        <li>
            <a href="https://github.com/johnsquibb/php-microframework">Source on GitHub</a>
        </li>

        <li>
            <a href="https://getbootstrap.com/">Bootstrap Framework</a>
        </li>
    </ul>

{% endblock %}