{% extends "base.html.twig" %}

{% block title %}Framework Error{% endblock %}

{% block body %}
    <h1>Server Error</h1>
    <p>There was a problem while executing the request.</p>
    <pre><code>{{ debug }}</code></pre>
{% endblock %}

