{% extends "base.html.twig" %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <h1>Not Found</h1>
    <p>The requested resource was not found on this server. Please check the URL and try again.</p>
{% endblock %}